{% extends 'base.html.twig' %} 

{% block title %}Modifier Social{% endblock %}

{% block content %}
<div id="page-inner">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="card-title">
                <div class="title">Modifier SOCIAL</div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="panel-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="exampleInputNouriture">AIDE NOURITURE :</label>
                        {{ form_widget(form.aideNouriture, {'attr' : {'class': 'form-check-input', 'id': 'exampleInputNouriture'}}) }}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputEducation">AIDE EDUCATION :</label>
                        {{ form_widget(form.aideEducation, {'attr' : {'class': 'form-check-input', 'id': 'exampleInputEducation'}}) }}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputTravail">AIDE TRAVAIL :</label>
                        {{ form_widget(form.aideTravail, {'attr' : {'class':'form-check-input', 'id': 'exampleInputTravail'}}) }}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputSante">AIDE TRAVAIL :</label>
                        {{ form_widget(form.aideSante, {'attr' : {'class':'form-check-input', 'id': 'exampleInputSante'}}) }}
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                      <label for="exampleInputMembre">Membre :</label>
                      {{ form_widget(form.membre, {'attr' : {'class':'form-control', 'id': 'exampleInputMembre'}}) }}
                  </div>
                </div>
                <div class="form-row d-flex">
                    <button type="submit" class="btn btn-primary text-center">Modifier Social</button>
                </div>
            </form>
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
