{% extends 'base.html.twig' %} 

{% block title %}{{ title }}{% endblock %} 

{% block content %} 
{% if is_granted('ROLE_COMMERCE') %} 
  <div id="page-inner">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
             <div class="row">
              <div class="col-md-4">COMMERCE</div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <a
                  href="{{ path('app_dashboard_social_create') }}"
                  class="btn btn-primary"
                >
                  Ajouter Social
                </a>
              </div>
            </div>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>ConditionRSA</th>
                      <th>RSA Jeune Actif</th>
                      <th>Prime Actif</th>
                      <th>Garantie Jeune</th>
                      <th>Prime Transitoire Solidaire</th>
                      <th>Chéque Energie</th>
                      <th>Aide Financière Paiement Eau</th>
                      <th>Préstation Familiale</th>
                      <th>Bourse Primaire et Lycée</th>
                      <th>Garantie Visal</th>
                      <th>Aide Paiement Téléphone et Intérnet</th>
                      <th>Allocation Solidaire Personne Agée</th>
                      <th>Protection Maladie et Médicament</th>
                      <th>Complémentaire Santé</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for social in socials %}
                    <tr>
                      <td>{{social.id}}</td>
                      <td>{{social.conditionRsa}}</td>
                      <td>{{social.rsaJeuneActif}}</td>
                      <td>{{social.primeActivite}}</td>
                      <td>{{social.garantieJeunes}}</td>
                      <td>{{social.primeTransitoireSolidarite}}</td>
                      <td>{{social.chequeEnergie}}</td>
                      <td>{{social.aideFinancierePaiementFactureEau}}</td>
                      <td>{{social.prestationFamiliales}}</td>
                      <td>{{social.boursePrimaireLycee}}</td>
                      <td>{{social.garantieVisale}}</td>
                      <td>{{social.aidePaiementTelephoneInternet}}</td>
                      <td>{{social.allocationSolidaritePersonneAgee}}</td>
                      <td>{{social.protectionMaladieEtMedicament}}</td>
                      <td>{{social.complementaireSante}}</td>
                      {% if is_granted('ROLE_COMMERCE') %}
                        <th>
                            {% if is_granted('ROLE_ADMIN') %}
                              <a  href="{{ path('app_dashboard_social_delete', {'id': social.id}) }}"
                                  onClick="return confirm('Voulez-vous supprimer vraiment cette ligne ??')">
                                <i class="fa fa-trash" style="color:red;margin-right: 5px" aria-hidden="true"></i>
                              </a>
                              <a href="{{ path('app_dashboard_social_edit', {'id': social.id}) }}">
                                <i class="fa fa-edit" style="color:green;" aria-hidden="true"></i>
                              </a>
                            {% endif %}
                            <a><i class="fa fa-eye" style="color:sky;" aria-hidden="true"></i></a>
                        </th>
                      {% endif %}
                    </tr>
                  {% endfor %}   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}