{% extends 'base.html.twig' %} 

{% block title %}{{ title }}{% endblock %} 

{% block content %}  
<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
          <div class="col-md-4">MEMBRE DU COMMUNAUTE</div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <a
              href=""
              class="btn btn-primary"
              style="float: right; font-size: x-small;"
            >
              Ajouter Membre
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="font-size: 10px">
            <thead>
              <tr>
                <th>Id</th>
                <th>NOM FAMILLE</th>
                <th>PRENOM FAMILLE</th>
                <th>DATE NAISSANCE</th>
                <th>LIEU NAISSANCE</th>
                <th>SEXE</th>
                <th>NATIONALITE</th>
                <th>DOCUMENT VOYAGE</th>
                <th>NUMERO PASSPORT</th>
                <th>NUMERO CIN</th>
                <th>SITUATION MARITAL</th>
                <th>NUMERO TELEPHONE</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% for membre in membres %}
                  <tr>
                      <td>{{membre.id}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.nomFamille : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.prenomFamille : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.dateNaissance|date('d/m/Y') : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.lieuNaissance : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.sexe : null }}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.nationalite : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.documentVoyage : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.numeroPassport : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.numeroCIN : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.situationMarital : null}}</td>
                      <td>{{membre.pereFamille != null ? membre.pereFamille.numeroTelephone : null}}</td>
                    <td>
                        <a href="#"><i class="fa fa-trash text-danger"></i></a>
                        <a href="#"><i class="fa fa-pencil-square-o text-primary"></i></a>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}