{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %} 
{% block content %}
<div id="page-inner">
    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title text-center">IMPORT EXCEL</div>
                    </div>
                    </div>
                    {% for message in app.flashes('error') %}
                    <div class="header ">
                        <ol class="breadcrumb">
                            <p class="text-center text-danger">{{ message }}</p>
                        </ol>
                    </div>
                    {% endfor %} 
                    {{ form_start(form) }}
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(form.data, {'attr' : {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 ">
                                    {{ form_widget(form.exporter, {'attr' : {'class': 'btn btn-primary'}}) }}
                                </div>
                            </div>
                        </div>
                    <div>
                    {{ form_end(form) }}
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}

