{% extends 'base.html.twig' %} 

{% block title %}{{ title }}{% endblock %} 

{% block content %} 
{% if is_granted('ROLE_COMMERCE') %} 
  <div id="page-inner">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
             <div class="row">
              <div class="col-md-4">COMMERCE</div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <a
                  href="{{ path('app_dashboard_commerce_create') }}"
                  class="btn btn-primary"
                  style="float: right; font-size: x-small;"
                >
                  Ajouter Commerce
                </a>
              </div>
            </div>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>NOM</th>
                      <th>PRENOM</th>
                      <th>NATIONALITE</th>
                      <th>DATE NAISSANCE</th>
                      <th>PAYS ORIGINE</th>
                      <th>DOMAINE D'ACTIVITE</th>
                      <th>COMMERCE</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for commerce in commerces %}
                    <tr>
                      <td>{{commerce.id}}</td>
                      <td>{{commerce.personne.nom}}</td>
                      <td>{{commerce.personne.prenom}}</td>
                      <td>{{commerce.personne.nationalite}}</td>
                      <td>{{commerce.personne.dateNaissance|date("m/d/Y")}}</td>
                      <td>{{commerce.personne.paysOrigin}}</td>
                      <td>{{commerce.domaineActivite}}</td>
                      <td>
                          {% if commerce.commerce == 0 %}
                              <span>COMMERCE</span>
                            {% elseif  commerce.commerce == 1 %}
                              <span>IMPORTATEUR/EXPORTATEUR</span>
                             {% elseif  commerce.commerce == 2 %}
                              <span>TRADER</span>
                             {% elseif  commerce.commerce == 3 %}
                              <span>REVENDEUR</span>
                             {% elseif  commerce.commerce == 4 %}
                              <span>PRESTA DE SERVICE</span>
                            {% else %}
                              <span>AUCCUN</span>
                          {% endif %}
                      </td>
                      {% if is_granted('ROLE_COMMERCE') %}
                        <th>
                            {% if is_granted('ROLE_ADMIN') %}
                              <a href="{{ path('app_dashboard_commerce_delete', {'id': commerce.id}) }}" onClick="return confirm('Voulez-vous supprimer vraiment cette ligne ??')">
                                <i class="fa fa-trash" style="color:red;margin-right: 5px" aria-hidden="true"></i>
                              </a>
                              <a href="{{ path('app_dashboard_commerce_edit', {'id': commerce.id}) }}">
                                <i class="fa fa-edit" style="color:green;" aria-hidden="true"></i>
                              </a>
                            {% endif %}
                            <a><i class="fa fa-eye" style="color:sky;" aria-hidden="true"></i></a>
                        </th>
                      {% endif %}
                    </tr>
                  {% endfor %}   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}