{% extends 'base.html.twig' %}

{% block title %}Ajout Education{% endblock %}

{% block content %}
    <div id="page-inner">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Ajouter EDUCATION</div>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="panel-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEcole">Ecole :</label>
                            {{ form_widget(form.nomEcole, {'attr' : {'class': 'form-control', 'id': 'exampleInputEcole', 'aria-describedby': 'ecoleHelp'}}) }}
                            <small id="ecoleHelp" class="form-text text-muted">*Champ ecole vide</small>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputUniversite">Université :</label>
                            {{ form_widget(form.nomUniversite, {'attr' : {'class': 'form-control', 'id': 'exampleInputUniversite', 'aria-describedby': 'universiteHelp'}}) }}
                            <small id="universiteHelp" class="form-text text-muted">*Champ université vide</small>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputClasse">Classe :</label>
                            {{ form_widget(form.classe, {'attr' : {'class': 'form-control', 'id': 'exampleInputClasse', 'aria-describedby': 'classeHelp'}}) }}
                            <small id="classeHelp" class="form-text text-muted">*Champ classe vide</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="exampleInputCarte">Carte Etudiant :</label>
                            {{ form_widget(form.carteEtudiant, {'attr' : {'class': 'form-control', 'id': 'exampleInputCarte', 'aria-describedby': 'carteHelp'}}) }}
                            <small id="carteHelp" class="form-text text-muted">*Champ carte vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputAdresse">Adresse Ecole :</label>
                            {{ form_widget(form.adresseEcole, {'attr' : {'class': 'form-control', 'id': 'exampleInputAdresse', 'aria-describedby': 'adresseHelp'}}) }}
                            <small id="adresseHelp" class="form-text text-muted">*Champ adresse ecole vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputUniversite">Adresse Universite : </label>
                            {{ form_widget(form.adresseUniversite, {'attr' : {'class': 'form-control', 'id': 'exampleInputUniversite', 'aria-describedby': 'universiteHelp'}}) }}
                            <small id="universiteHelp" class="form-text text-muted">*Champ adresse université vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputChirurgie">Diplome :</label>
                            {{ form_widget(form.diplome, {'attr' : {'class': 'form-control', 'id': 'exampleInputChirurgie', 'aria-describedby': 'diplomeHelp'}}) }}
                            <small id="diplomeHelp" class="form-text text-muted">*Champ diplome vide</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="exampleInputAnneeScolaire">Année Scolaire :</label>
                            {{ form_widget(form.anneeScolaire, {'attr' : {'class': 'form-control', 'id': 'exampleInputAnneeScolaire', 'aria-describedby': 'anneescolaireHelp'}}) }}
                            <small id="anneescolaireHelp" class="form-text text-muted">*Champ année scolaire vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputPere">Pere :</label>
                            {{ form_widget(form.pere, {'attr' : {'class': 'form-control', 'id': 'exampleInputPere', 'aria-describedby': 'pereHelp'}}) }}
                            <small id="pereHelp" class="form-text text-muted">*Champ pere vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputMere">Mere :</label>
                            {{ form_widget(form.mere, {'attr' : {'class': 'form-control', 'id': 'exampleInputMere', 'aria-describedby': 'mereHelp'}}) }}
                            <small id="mereHelp" class="form-text text-muted">*Champ mere vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEnfant">Enfant :</label>
                            {{ form_widget(form.enfant, {'attr' : {'class': 'form-control', 'id': 'exampleInputEnfant', 'aria-describedby': 'enfantHelp'}}) }}
                            <small id="enfantHelp" class="form-text text-muted">*Champ enfant vide</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="exampleInputPays">Pays :</label>
                            {{ form_widget(form.nomPays, {'attr' : {'class': 'form-control', 'id': 'exampleInputPays', 'aria-describedby': 'paysHelp'}}) }}
                            <small id="paysHelp" class="form-text text-muted">*Champ pays vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputProvence">Provence :</label>
                            {{ form_widget(form.province, {'attr' : {'class': 'form-control', 'id': 'exampleInputProvence', 'aria-describedby': 'provinceHelp'}}) }}
                            <small id="provinceHelp" class="form-text text-muted">*Champ provence vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputRegion">Region :</label>
                            {{ form_widget(form.region, {'attr' : {'class': 'form-control', 'id': 'exampleInputRegion', 'aria-describedby': 'regionHelp'}}) }}
                            <small id="regionHelp" class="form-text text-muted">*Champ region vide</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputFokotany">Fokotany :</label>
                            {{ form_widget(form.fokotany, {'attr' : {'class': 'form-control', 'id': 'exampleInputFokotany', 'aria-describedby': 'fokotanyHelp'}}) }}
                            <small id="fokotanyHelp" class="form-text text-muted">*Champ fokotany vide</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary text-center">Ajouter Education</button>
                    </div>
                </form>
            </div>
        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
