{% extends 'base.html.twig' %} {% block content %}
<div id="page-inner">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="card-title">
            <div class="title">Ajouter Education</div>
          </div>
        </div>
        {{ form_start(form) }}
        <div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-4">
                <div class="sub-title">Ecole</div>
                {{ form_widget(form.ecole, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-4">
                <div class="sub-title">Classe</div>
                {{ form_widget(form.classe, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-4">
                <div class="sub-title">Année Scolaire</div>
                {{ form_widget(form.anneeScolaire, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <div class="sub-title">Niveau</div>
                {{ form_widget(form.niveau, {'attr' : {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-4">
                <div class="sub-title">Diplôme</div>
                {{ form_widget(form.diplome, {'attr' : {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-4">
                <div class="sub-title">Personne Rattaché</div>
                {{ form_widget(form.personne, {'attr' : {'class': 'form-control', 'id':'date-evacuation'}}) }}
              </div> 
            </div>
            <div class="row justify-content-md-center">
              <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary align-self-center">
                  Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
