{% extends 'base.html.twig' %} 

{% block title %}{{ title }}{% endblock %} 

{% block content %}  
<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
          <div class="col-md-4">DEPARTEMENT EDUCATION</div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <a
              href="{{path('app_dashboard_education_create')}}"
              class="btn btn-primary"
              style="float: right; font-size: x-small;"
            >
              Ajouter Education
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="font-size: 10px">
            <thead>
              <tr>
                <th>Id</th>
                <th>NOM ECOLE</th>
                <th>ADRESSE ECOLE</th>
                <th>NOM UNIVERSITE</th>
                <th>ADRESSE UNIVERSITE</th>
                <th>CLASSE</th>
                <th>CARTE ETUDIANT</th>
                <th>DIPLOME</th>
                <th>ANNEES SCOLAIRE</th>
                <th>PAYS</th>
                <th>PROVINCE</th>
                <th>REGION</th>
                <th>FOKOTANY</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% for education in educations %}
                <tr>
                    <td>{{education.id}}</td>
                    <td>{{education.nomEcole}}</td>
                    <td>{{education.nomUniversite}}</td>
                    <td>{{education.classe}}</td>
                    <td>{{education.carteEtudiant}}</td>
                    <td>{{education.adresseEcole}}</td>
                    <td>{{education.adresseUniversite}}</td>
                    <td>{{education.diplome}}</td>
                    <td>{{education.anneeScolaire}}</td>
                    <td>
                        {% for n in education.nomPays %}
                          {{n}}
                        {% endfor %}
                    </td>
                    <td>
                        {% for p in education.province %}
                          {{p}}
                        {% endfor %}
                    </td>
                    <td>
                        {% for r in education.region %}
                          {{r}}
                        {% endfor %}
                    </td>
                    <td>{{education.fokotany}}</td>
                    <td>
                        <a href="{{path('app_dashboard_delete_sante', {'id': education.id})}}" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash text-danger"></i></a>
                        <a href="{{path('app_dashboard_education_edit', {'id': education.id})}}"><i class="fa fa-pencil-square-o text-primary"></i></a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Confirmation de la suppression</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Etes-vous sûr de vouloir supprimer cette ligne?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" >Confirmer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
