{% extends 'base.html.twig' %} 

{% block stylesheets %}
<style>
  .clsEducat{
    float: right !important;
    font-size: x-small;
  }
</style>
{% endblock %}

{% block title %}{% if title is defined %} {{ title }} {% endif %}{% endblock %} 

{% block content %}  
  <div id="page-inner">
      <div class="row">
        <div class="col-md-7" id="col1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-4">EDUCATION</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <a
                    href="{{ path('app_dashboard_education_create') }}"
                    class="btn btn-light clsEducat"
                  >
                    Ajouter Education
                  </a>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>NOM</th>
                      <th>PRENOM</th>
                      <th>NATIONALITE</th>
                      <th>DATE NAISSANCE</th>
                      <th>PAYS ORIGINE</th>
                      <th>ECOLE</th>
                      <th>CLASSE</th>
                      <th>NIVEAU</th>
                      <th>DIPLOME</th>
                      <th>ANNEE SCOLAIRE</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for education in educations %}
                    <tr>
                      <td>{{education.id}}</td>
                      <td>{{education.personne.nom}}</td>
                      <td>{{education.personne.prenom}}</td>
                      <td>{{education.personne.nationalite}}</td>
                      <td>{{education.personne.dateNaissance|date('m/d/Y')}}</td>
                      <td>{{education.personne.paysOrigin}}</td>
                      <td>{{education.ecole}}</td>
                      <td>{{education.classe}}</td>
                      <td>{{education.niveau}}</td>
                      <td>{{education.diplome}}</td>
                      <td>{{education.annee}}</td>
                      {% if is_granted('ROLE_EDUCATION') %}
                        <th>
                            {% if is_granted('ROLE_ADMIN') %}
                              <a  href="{{ path('app_dashboard_education_delete', {'id': education.id}) }}" onClick="return confirm('Voulez-vous supprimer vraiment cette ligne ??')" style="cursor:pointer">
                                <i class="fa fa-trash" style="color:red;margin-right: 5px" aria-hidden="true"></i>
                              </a>
                              <a href="{{ path('app_dashboard_education_edit', {'id': education.id}) }}" style="cursor:pointer">
                                <i class="fa fa-edit" style="color:green;" aria-hidden="true"></i>
                              </a>
                            {% endif %}
                            <a onClick="showPersonneEduquer('{{education.id}}', '{{ path('app_dashboard_education_id', {'id': education.id}) }}')" data-toggle="modal" data-target="#myModal" style="cursor:pointer"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </th>
                      {% endif %}
                    </tr>
                  {% endfor %}   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {# charjs #}
        <div class="col-md-5 col-sm-6 col-xs-12" id="col2">  
          <div class="panel panel-default chartJs">
            <div class="panel-heading">
              <div class="card-title">
                <div class="title">EDUCATION</div>
              </div>
            </div>
            <div class="panel-body">
              <canvas id="line-chart" class="chart"></canvas>
            </div>
          </div>
        </div>
        {# endcharjs #}
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" onClick="loadFonction()" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Detail de Personne</h4>
          </div>
          <div class="modal-body" id="modal-body"></div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/Chart.min.js') }}"></script>

  <script>

      function showPersonneEduquer(id, pathRoute){
        $.ajax({
          type: "POST",
          url: pathRoute,
          data:{ id : id},
          async: true,
          success: function(response){
            var html = '';
            html += '<ul>';
            html += '<th><strong>ID</strong>: '+ response.id +'</th><br />';
            html += '<th><strong>NOM</strong>: '+ response.personne.nom +'</th><br />';
            html += '<th><strong>PRENOM</strong>: '+ response.personne.prenom +'</th><br />';
            html += '<th><strong>DATE DE NAISSANCE</strong>: '+ response.personne.dateNaissance +'</th><br />';
            html += '<th><strong>LIEU DE NAISSANCE</strong>: '+ response.personne.lieuNaissance + '</th><br />';
            html += '<th><strong>NATIONALITE</strong>:  '+ response.personne.nationalite +' </th><br />';
            html += '<th><strong>SITUATION MARITAL</strong> : '+ response.personne.situationMarital +'</th><br />';
            html += '<th><strong>GROUPE SANGUIN</strong> : '+ response.personne.groupSangin +'</th><br />';
            html += '<th><strong>PAYS D\'ORIGINE</strong> : '+ response.personne.paysOrigin +'</th><br />';
            html += '<th><strong>SEXE</strong> : '+ response.personne.sexe +'</th><br />';
            html += '<th><strong>DIPLOME</strong>: '+ response.diplome +'</th><br />';
            html += '<th><strong>ECOLE</strong>: '+ response.ecole +'</th><br />';
            html += '<th><strong>NIVEAU</strong>: '+ response.niveau +'</th><br />';
            html += '<th><strong>CLASSE</strong>: '+ response.classe +'</th>';
            $("#modal-body").html(html);
          }
        })
      }

     
      $(function() {

        var ctx, data, myLineChart, options;
        Chart.defaults.global.responsive = true;
        ctx = $('#line-chart').get(0).getContext('2d');
        options = {
          scaleShowGridLines: true,
          scaleGridLineColor: "rgba(0,0,0,.05)",
          scaleGridLineWidth: 1,
          scaleShowHorizontalLines: true,
          scaleShowVerticalLines: true,
          bezierCurve: false,
          bezierCurveTension: 0.4,
          pointDot: true,
          pointDotRadius: 4,
          pointDotStrokeWidth: 1,
          pointHitDetectionRadius: 20,
          datasetStroke: true,
          datasetStrokeWidth: 2,
          datasetFill: true,
          //legendTemplate: ""
        };
        data = {
          labels: [0, {% for label in labels %} {{ label }}, {% endfor %}] ,
          datasets: [
            {
              label: "Sans éducation",
              fillColor: "rgba(26, 188, 156,0.2)",
              strokeColor: "#FF0000",
              pointColor: "#FF0000",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "#1ABC9C",
              data: [0, {% for data in datasOne %} {{ data|number_format }}, {% endfor %}]
            },
            {
              label: "Avec éducation",
              fillColor: "rgba(26, 188, 156,0.2)",
              strokeColor: "#35AD11",
              pointColor: "#35AD11",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "#1ABC9C",
              data: [0, {% for data in datasTwo %} {{ data|number_format }}, {% endfor %}]
            }
          ]
        };
        myLineChart = new Chart(ctx).Line(data, options);
      });

       $(document).ready(function () {
		    $("#sideNav").click(function(){
          if($(this).hasClass('closed')){
            $( "#col1" ).removeClass( "col-md-12" ).addClass( "col-md-7" );
            $("#col2").show()
          }else{
            $( "#col1" ).removeClass( "col-md-7" ).addClass( "col-md-12" );
            $("#col2").hide()
          }
        });
      });
  </script>
{% endblock %}