{% extends 'base.html.twig' %} 

{% block title %}Ajout Pere{% endblock %}

{% block content %}
<div id="page-inner">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="card-title">
                <div class="title">Ajouter PERE</div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="panel-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputNomFamille">NOM FAMILLE :</label>
                        {{ form_widget(form.nomFamille, {'attr' : {'class': 'form-control', 'id': 'exampleInputNomFamille', 'aria-describedby': 'nomHelp'}}) }}
                        <small id="nomHelp" class="form-text text-muted">*Champ nom vide</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPernomFamille">PRENOM FAMILLE :</label>
                        {{ form_widget(form.prenomFamille, {'attr' : {'class': 'form-control', 'id': 'exampleInputPernomFamille', 'aria-describedby': 'prenomHelp'}}) }}
                        <small id="prenomHelp" class="form-text text-muted">*Champ prénom vide</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleDatepicker">DATE DE NAISSANCE :</label>
                        {{ form_widget(form.dateNaissance, {'attr' : {'class':'form-control', 'id': 'exampleDatepicker', 'aria-describedby': 'dateNaissanceHelp'}}) }}
                        <small id="dateNaissanceHelp" class="form-text text-muted">*Champ date de naissance vide</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputLieuNaissance">LIEU DE NAISSANCE :</label>
                        {{ form_widget(form.lieuNaissance, {'attr' : {'class': 'form-control', 'id': 'exampleInputLieuNaissance', 'aria-describedby': 'lieuNaissanceHelp'}}) }}
                        <small id="lieuNaissanceHelp" class="form-text text-muted">*Champ lieu naissance vide</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleSexe">SEXE :</label>
                        {{ form_widget(form.sexe, {'attr' : {'class': 'form-control', 'id': 'exampleSexe', 'aria-describedby': 'sexeHelp'}}) }}
                        <small id="sexeHelp" class="form-text text-muted">*Champ sexe vide</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputNationalite">NATIONALITE :</label>
                        {{ form_widget(form.nationalite, {'attr' : {'class': 'form-control', 'id': 'exampleInputNationalite', 'aria-describedby': 'nationaliteHelp'}}) }}
                        <small id="nationaliteHelp" class="form-text text-muted">*Champ nationalite vide</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleDocument">DOCUMENT DE VOYAGE :</label>
                        {{ form_widget(form.documentVoyage, {'attr' : {'class': 'form-control','id': 'exampleDocument', 'aria-describedby': 'documentHelp'}}) }}
                        <small id="documentHelp" class="form-text text-muted">*Champ document de voyage vide</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassport">NUMERO PASSPORT :</label>
                         {{ form_widget(form.numeroPassport, {'attr' : {'class': 'form-control', 'id': 'exampleInputPassport', 'aria-describedby': 'passportHelp'}}) }}
                        <small id="passportHelp" class="form-text text-muted">*Champ passport vide</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleCin">NUMERO CIN :</label>
                        {{ form_widget(form.numeroCIN, {'attr' : {'class': 'form-control', 'id': 'exampleCin', 'aria-describedby': 'cinHelp'}}) }}
                        <small id="cinHelp" class="form-text text-muted">*Champ N° CIN vide</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputMarital">SITUATION MARITAL :</label>
                        {{ form_widget(form.situationMarital, {'attr' : {'class': 'form-control', 'id': 'exampleInputMarital', 'aria-describedby': 'maritalHelp'}}) }}
                        <small id="maritalHelp" class="form-text text-muted">*Champ situation marital vide</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPhone">NUMERO TELEPHONE :</label>
                        {{ form_widget(form.numeroTelephone, {'attr' : {'class': 'form-control', 'id': 'exampleInputPhone', 'aria-describedby': 'phoneHelp'}}) }}
                        <small id="phoneHelp" class="form-text text-muted">*Champ N° téléphone vide</small>
                    </div>
                </div>
                <div class="form-row d-flex">
                    <button type="submit" class="btn btn-primary text-center">Ajouter Pere</button>
                </div>
            </form>
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
