{% extends 'base.html.twig' %} 

{% block stylesheets %}
<style>
  .btnEducat{
    text-align: center;
  }
  .btnAjout{
    display: flex;
    justify-content: center;
  }
</style>
{% endblock %}

{% block title %}Ajout Logement{% endblock %}

{% block content %}
<div id="page-inner">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="card-title">
            <div class="title">Ajouter Logement</div>
          </div>
        </div>
        {{ form_start(form) }}
        <div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-4">
                <div class="sub-title">Adresse Permanente</div>
                {{ form_widget(form.adressePermanente, {'attr' : {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-4">
                <div class="sub-title">Adresse Passagère</div>
                {{ form_widget(form.adresseTemporaire, {'attr' : {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-4">
                <div class="sub-title">Email</div>
                {{ form_widget(form.email, {'attr' : {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <fieldset class="form-group border p-3">
                    <legend class="sub-title">Vous êtes propriétaire ?</legend>
                    {{ form_widget(form.proprietaire, {'attr' : {'class': 'radio3 radio-check radio-inline'}} ) }}
                </fieldset>
              </div>
              <div class="form-group col-md-6">
                <fieldset class="form-group border p-3">
                  <legend class="sub-title">Vous avez une maison alloué ?</legend>
                  {{ form_widget(form.maisonAllouer, {'attr' : {'class': 'radio3 radio-check radio-inline'}}) }}
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <div class="sub-title">Pays</div>
                {{ form_widget(form.pays, {'attr' : {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-3">
                <div class="sub-title">Province</div>
                {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-3">
                <div class="sub-title">Région</div>
                {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group col-md-3">
                <div class="sub-title">Quartier</div>
                {{ form_widget(form.quartier, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="row btnAjout">
              <div class="form-group col-md-4 btnEducat">
                <button type="submit" class="btn btn-success btn-block">
                  Ajouter Logement
                </button>
              </div>
            </div>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
