{% extends 'base.html.twig' %} 

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
  <style>
    area:hover{
      outline: 'none';
      backgroundColor: 'red';
    }
  </style>
{% endblock %}

{% block content %}  
 <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default" styles="width:100px;height:400px">
          <div class="panel-heading">
            <nav>
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#logement">LOGEMENT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#carte">CARTE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#graphique">GRAPHIQUE</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="panel-body">
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade" id="logement">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Adresse permanente</th>
                        <th>Adresse Temporaire</th>
                        <th>Proprietaire</th>
                        <th>Maison alloué</th>
                        <th>Email</th>
                        <th>Pays</th>
                        <th>Province</th>
                        <th>Région</th>
                        <th>Quartier</th>
                        <th>ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for logement in logements %}
                    <tr>
                      <td>{{ logement.id }}</td>
                      <td>{{logement.adressePermanente}}</td>
                      <td>{{logement.adresseTemporaire}}</td>
                      <td>{{ logement.Proprietaire == 1 ? 'Oui' : 'Non' }}</td>
                      <td>{{logement.maisonAllouer == 1 ? 'Oui' : 'Non' }}</td>
                      <td>{{logement.email}}</td>
                      <td>{{logement.pays}}</td>
                      <td>{{logement.province}}</td>
                      <td>{{logement.region}}</td>
                      <td>{{logement.quartier}}</td>
                      {% if is_granted('ROLE_LOGEMENT') %}
                        <th>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_dashboard_logement_delete', {'id': logement.id}) }}" onClick="return confirm('Voulez-vous supprimer vraiment cette ligne ??')">
                              <i class="fa fa-trash" style="color:red;margin-right: 3px" aria-hidden="true"></i>
                            </a>
                            <a href="{{ path('app_dashboard_logement_edit', {'id': logement.id}) }}">
                              <i class="fa fa-edit" style="color:green;margin-right: 3px" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                            <a onClick="showLogement('{{logement.id}}', '{{ path('app_dashboard_sante_id', {'id': logement.id}) }}')" data-toggle="modal" data-target="#myModal" style="cursor:pointer"><i class="fa fa-eye" style="color:sky;" aria-hidden="true"></i></a>
                        </th>
                      {% endif %}
                    </tr>
                    {% endfor %}   
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="carte">
                <div class="text-center">
                  <img src="{{ asset('img/cart.png') }}" usemap="#image-map">
                  <map name="image-map">
                      <area target="_self" alt="" title="" href="#" coords="134,13,141,5,150,14,146,21,146,31,146,42,138,51,126,47,113,42,131,32" shape="poly">
                      <area target="_self" alt="" title="" href="#" coords="144,25,151,15,156,27,161,42,162,55,166,70,168,83,161,92,154,67,146,59,141,51,147,38" shape="poly">
                       <area target="_self" alt="" title="" href="#" coords="112,53,118,46,129,50,137,50,145,57,145,66,136,74,137,84,140,92,136,100,128,100,119,95,112,95,103,95,96,83,94,71,104,62" shape="poly">
                       <area target="_self" alt="" title="" href="#" coords="138,76,145,68,154,69,158,75,151,82,151,93,154,100,151,106,144,116,136,123,131,115,134,102,142,90" shape="poly">
                       <area target="_self" alt="" title="" href="#" coords="48,93,58,91,67,86,77,87,81,79,91,71,94,79,97,88,99,98,92,99,87,101,82,109,77,113,69,111,61,108,52,100" shape="poly">
                       <area target="_self" alt="" title="" href="#" coords="61,110,72,111,80,115,85,106,97,103,103,97,110,100,117,111,116,119,112,126,102,127,91,125,81,126,72,126,65,120" shape="poly">
                       <area target="_self" alt="" title="" href="#" coords="115,101,120,97,127,100,132,106,131,117,132,127,129,134,125,143,128,153,125,160,120,167,114,170,113,150,114,131,118,112" shape="poly">
                       <area target="_self" alt="" title="" href="#" coords="134,125,145,122,143,141,136,160,129,179,121,181,110,182,109,171,118,170,127,162,128,153,126,138" shape="poly">
                  </map>
                </div>
              </div>
              <div class="tab-pane fade" id="graphique">
                Salut
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('styles/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ asset('styles/js/Chart.min.js') }}"></script>
  <script src="https://js.arcgis.com/4.18/"></script>
  <script>
  
  </script>
{% endblock %}
