<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link
      rel="stylesheet"
      href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ asset('js/morris/morris-0.4.3.min.css') }}"
    />
    <link rel="stylesheet" href="{{ asset('css/custom-styles.css') }}" />
    <link
      rel="stylesheet"
      href="{{ asset('js/Lightweight-Chart/cssCharts.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ asset('fonts/iconic/css/material-design-iconic-font.min.css') }}"
    />
    <link href="{{ asset('assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/util.css') }}" />

    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the
    following Encore helpers to start using Symfony UX #} 
    {% block stylesheets %} 
      <style>
        #bwp-scroll-top.bwp-visible {
            bottom: 30px;
            opacity: 1;
            visibility: visible;
        }

        #bwp-scroll-top{
          position: fixed;
          z-index: 1041;
          display: inline-block;
          right: 30px;
          width: 44px;
          height: 44px;
          line-height: 44px;
          text-align: center;
          font-size: 16px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 14px 28px -4px rgb(14 17 20 / 15%)
        }

        #bwp-scroll-top:hover {
            color: #fff;
            background-color: #6ca4db;
        }

        #bwp-scroll-top:focus {
            color: #4c4f53;
        }

      </style>
    {% endblock %}
    {#{{
      encore_entry_link_tags("app")
    }}#}{% block javascripts %} {#{{
      encore_entry_script_tags("app")
    }}#} {% endblock %}
  </head>
  <body>
  {% if app.user != null %}
  
  <div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".sidebar-collapse"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand text-title"
          ><strong><i class="icon fa fa-book"></i>CROI RECENSEMENT</strong></span
        >
        <div id="sideNav" href="">
          <i class="fa fa-bars icon"></i>
        </div>
      </div>

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            aria-expanded="false"
          >
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
          </li>
          <li>
            <a href="{{ path('app_dashboard_import') }}"><i class="fa fa-file" aria-hidden="true"></i> Exporter CSV</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{{ path('app_logout') }}"
              ><i class="fa fa-sign-out fa-fw"></i> Logout</a
            >
          </li>
        </ul>
      </ul>
    </nav>

    <nav class="navbar-default navbar-side" role="navigation" id="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
          {% if is_granted('ROLE_ADMIN') %}
            <li>
              <a><i class="fa fa-sitemap"></i>COMMUNAUTE<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                      <a {% if app.request.get('_route') == 'app_dashboard_membre' %} class="active-menu"{% endif %}
                      href="{{ path('app_dashboard_membre') }}"
                      >Membre de la communauté</a>
                  </li>
                  <li>
                      <a 
                        {% if app.request.get('_route') == 'app_dashboard_femme' %} class="active-menu"{% endif %}
                        href="{{ path('app_dashboard_femme') }}">Femme du membre</a>
                  </li>
                  <li>
                      <a {% if app.request.get('_route') == 'app_dashboard_enfant' %} class="active-menu"{% endif %}
                         href="{{ path('app_dashboard_enfant') }}">Enfant du membre</a>
                  </li>
							  </ul>
						</li>
          {% endif %}
          {% if  is_granted('ROLE_SANTE') %}
            <li>
              <a 
                {% if app.request.get('_route') == 'app_dashboard_santer' %} class="active-menu" {% endif %}
                href="{{ path('app_dashboard_santer') }}"
                ><i class="fa fa-medkit"></i>DEPARTEMENT SANTER
              </a>
            </li>
          {% endif %}

          {% if  is_granted('ROLE_EDUCATION') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_education' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_education') }}"
                ><i class="fa fa-graduation-cap"></i>DEPARTEMENT EDUCATION
              </a>
            </li>
          {% endif %}

          {% if  is_granted('ROLE_SOCIAL') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_social' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_social') }}"
                ><i class="fa fa-comment"></i>DEPARTEMENT SOCIAL</a
              >
            </li>
          {% endif %}

          {% if  is_granted('ROLE_LOGEMENT') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_logement' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_logement') }}"
                ><i class="fa fa-home"></i>DEPARTEMENT LOGEMENT</a
              >
            </li>
          {% endif %}

          {% if  is_granted('ROLE_SPORT') %}
            <li>
              <a 
              {% if app.request.get('_route') == 'app_dashboard_sport' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_sport') }}"><i class="fa fa-futbol-o"></i>DEPARTEMENT SPORT</a>
            </li>
          {% endif %}

          {% if  is_granted('ROLE_FINANCE') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_finance' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_finance') }}"><i class="fa fa-eur"></i>DEPARTEMENT FINANCE</a>
            </li>
          {% endif %}

          {% if  is_granted('ROLE_COMMERCE') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_commerce' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_commerce') }}"
                ><i class="fa fa-shopping-cart fa-pulse fa-spin fa-1x"></i>DEPARTEMENT COMMERCE</a
              >
            </li>
          {% endif %}

          {% if is_granted('ROLE_TABLIGH') %}
            <li>
              <a
              href="empty.html"
                ><i class="fa fa-user"></i>DEPARTEMENT TABLIGH</a
              >
            </li>
          {% endif %}

          {% if is_granted('ROLE_ADMIN') %}
            <li>
              <a
                {% if app.request.get('_route') == 'app_dashboard' %} class="active-menu"{% endif %}
                href="{{ path('app_dashboard') }}" 
                ><i class="fa fa-user"></i>PERSONNE</a
              >
            </li>
          {% endif %}

        </ul>
      </div>
    </nav>

    <div id="page-wrapper" class="page-default">
      <div class="header ">
        <h1 class="page-header">{% if title  is defined %} {{ title }}{% endif %} </h1>
        <ol class="breadcrumb">
          <li>Home</li>
          <li>Dashboard</li>
          <li class="active">{{ app.request.requestUri|split('/', 3)|last }}</li>
        </ol>
      </div>
      {% if is_granted(app.user.roles[0]) %}
        {% for message in app.flashes('success') %}
          <div class="header ">
            <ol class="breadcrumb">
                  <p class="text-center text-success">{{ message }}</p>
            </ol>
          </div>
        {% endfor %}
        {% block content %}{% endblock %}
        <a rel="nofollow" href="#" id="bwp-scroll-top" class="bwp-visible"><i class="fa fa-caret-up"></i></a>
      {% endif %}
    </div>
{% endif %}
   
   {% block body %}{% endblock %}

    <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ asset('assets/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('assets/js/custom-scripts.js') }}"></script>
    

    <script>
      $("#sideNav").click(function(){
        if($(this).hasClass('closed')){
          $('.navbar-side').animate({left: '0px'});
          $(this).removeClass('closed');
          $('#page-wrapper').animate({'margin-left' : '260px'});
        }else{
          $(this).addClass('closed');
          $('.navbar-side').animate({left: '-260px'});
          $('#page-wrapper').animate({'margin-left' : '0px'}); 
        }
      })

      $(document).ready(function () {
          $('#dataTables-example').dataTable();
      });

      function admindash(){
        event.preventdefault
        const a = document.createElement('a');
        div.className = 'active-menu';

      }

    </script>
  </body>
</html>
