<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link
      rel="stylesheet"
      href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ asset('js/morris/morris-0.4.3.min.css') }}"
    />
    <link rel="stylesheet" href="{{ asset('css/custom-styles.css') }}" />
    <link
      rel="stylesheet"
      href="{{ asset('js/Lightweight-Chart/cssCharts.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ asset('fonts/iconic/css/material-design-iconic-font.min.css') }}"
    />
    <link href="{{ asset('assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/util.css') }}" />

    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the
    following Encore helpers to start using Symfony UX #} 
    {% block stylesheets %} 
      <style>
        #bwp-scroll-top.bwp-visible{
            bottom: 30px;
            opacity: 1;
            visibility: visible;
        }

        #bwp-scroll-two.bwp-two{
            bottom: 80px;
            opacity: 1;
            visibility: visible;
        }

        #bwp-scroll-top{
          position: fixed;
          z-index: 1041;
          display: inline-block;
          right: 30px;
          width: 44px;
          height: 44px;
          line-height: 44px;
          text-align: center;
          font-size: 16px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 14px 28px -4px rgb(14 17 20 / 15%)
        }

        #bwp-scroll-two{
          position: fixed;
          z-index: 1041;
          display: inline-block;
          right: 30px;
          width: 44px;
          height: 44px;
          line-height: 44px;
          text-align: center;
          font-size: 16px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 14px 28px -4px rgb(14 17 20 / 15%)
        }

        #bwp-scroll-top:hover {
            color: #fff;
            background-color: #6ca4db;
        }

        #bwp-scroll-two:hover {
            color: #fff;
            background-color: #6ca4db;
        }

        #bwp-scroll-top:focus {
            color: #4c4f53;
        }

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
          position: absolute;
          z-index: 2;
          display: block;
          width: 40.375rem;
          height: 2.375rem;
          line-height: 3.375rem;
          text-align: center;
          pointer-events: none;
          color: #aaa;
      }

      .chat-btn {
        position: fixed;
        right: 100px;
        bottom: 20px;
        cursor: pointer
      }

      .chat-btn {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: blue;
        color: #fff;
        font-size: 22px;
        border: none
    }
    #page-content{
      display: none;
    }

      </style>
    {% endblock %}
    {#{{
      encore_entry_link_tags("app")
    }}#}{% block javascripts %} {#{{
      encore_entry_script_tags("app")
    }}#} {% endblock %}
  </head>
  <body>
  {% if app.user != null %}
  
  <div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".sidebar-collapse"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand text-title"
          ><strong><i class="icon fa fa-book"></i>CROI RECENSEMENT</strong></span
        >
        <div id="sideNav" href="">
          <i class="fa fa-bars icon"></i>
        </div>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search">
        </li>
        <li>
          <a href="{{ path('send_email') }}">
              <i class="fa fa-envelope fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="{{ path('app_call_chat') }}" aria-expanded="false">
              <i class="fa fa-phone-square fa-fw"></i>
          </a>
        </li>
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            aria-expanded="false"
          >
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <a href="{{ path('app_import_excel') }}"><i class="fa fa-file-excel-o fa-fw"></i> Import EXCEL</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="{{ path('app_logout') }}"
                ><i class="fa fa-sign-out fa-fw"></i> Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
      
    </nav>

    <nav class="navbar-default navbar-side" role="navigation" id="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">      
          {% if is_granted('ROLE_ADMIN') %}
            <li  class="disabled">
              <a><i class="fa fa-sitemap"></i>COMMUNAUTE<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                      <a {% if app.request.get('_route') == 'app_dashboard_membre' %} class="active-menu"{% endif %}
                      href="{{ path('app_dashboard_membre') }}"
                      >Membre de la communauté</a>
                  </li>
                  <li>
                      <a 
                        {% if app.request.get('_route') == 'app_dashboard_femme' %} class="active-menu"{% endif %}
                        href="{{ path('app_dashboard_femme') }}">Femme du membre</a>
                  </li>
                  <li>
                      <a {% if app.request.get('_route') == 'app_dashboard_enfant' %} class="active-menu"{% endif %}
                         href="{{ path('app_dashboard_enfant') }}">Enfant du membre</a>
                  </li>
							  </ul>
						</li>
          {% endif %}
          {% if  is_granted('ROLE_SANTE') %}
            <li>
              <a 
                {% if app.request.get('_route') == 'app_dashboard_santer' %} class="active-menu" {% endif %}
                href="{{ path('app_dashboard_santer') }}"
                ><i class="fa fa-medkit"></i>DEPARTEMENT SANTE
              </a>
            </li>
          {% endif %}

          {% if  is_granted('ROLE_EDUCATION') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_education' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_education') }}"
                ><i class="fa fa-graduation-cap"></i>DEPARTEMENT EDUCATION
              </a>
            </li>
          {% endif %}

          {% if  is_granted('ROLE_SOCIAL') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_social' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_social') }}"
                ><i class="fa fa-comment"></i>DEPARTEMENT SOCIAL</a
              >
            </li>
          {% endif %}

          {% if  is_granted('ROLE_LOGEMENT') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_logement' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_logement') }}"
                ><i class="fa fa-home"></i>DEPARTEMENT LOGEMENT</a
              >
            </li>
          {% endif %}

          {% if  is_granted('ROLE_SPORT') %}
            <li>
              <a 
              {% if app.request.get('_route') == 'app_dashboard_sport' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_sport') }}"><i class="fa fa-futbol-o"></i>DEPARTEMENT SPORT</a>
            </li>
          {% endif %}

          {% if  is_granted('ROLE_FINANCE') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_finance' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_finance') }}"><i class="fa fa-eur"></i>DEPARTEMENT FINANCE</a>
            </li>
          {% endif %}

          {% if  is_granted('ROLE_COMMERCE') %}
            <li>
              <a
              {% if app.request.get('_route') == 'app_dashboard_commerce' %} class="active-menu"{% endif %}
              href="{{ path('app_dashboard_commerce') }}"
                ><i class="fa fa-shopping-cart fa-pulse fa-spin fa-1x"></i>DEPARTEMENT COMMERCE</a
              >
            </li>
          {% endif %}

          {% if is_granted('ROLE_TABLIGH') %}
            <li>
              <a
              href="empty.html"
                ><i class="fa fa-user"></i>DEPARTEMENT TABLIGH</a
              >
            </li>
          {% endif %}

          {% if is_granted('ROLE_ADMIN') %}
            <li>
              <a
                {% if app.request.get('_route') == 'app_personne' %} class="active-menu"{% endif %}
                href="{{ path('app_personne') }}" 
                ><i class="fa fa-user"></i>PERSONNE</a
              >
            </li>
          {% endif %}

        </ul>
      </div>
    </nav>

    <div id="page-wrapper" class="page-default">
      <div class="header ">
        <h1 class="page-header">{% if title  is defined %} {{ title }}{% endif %} </h1>
        <ol class="breadcrumb">
          <li>Home</li>
          <li>Dashboard</li>
          <li class="active">{{ app.request.requestUri|split('/', 3)|last }}</li>
        </ol>
      </div>
      {% if is_granted(app.user.roles[0]) %}
        {% for message in app.flashes('success') %}
          <div class="header ">
            <ol class="breadcrumb">
                  <p class="text-center text-success">{{ message }}</p>
            </ol>
          </div>
        {% endfor %}    
      {% endif %}

      {% block content %}{% endblock %}    
</div>
    
    {% if app.request.get('_route') != 'app_personne' and app.request.get('_route') != 'send_email' and app.request.get('_route') != 'app_import_excel' %} 
      <a rel="nofollow" href="#" id="bwp-scroll-top" class="bwp-visible"><i class="fa fa-arrow-up"></i></a>
      <a href="#" style="cursor:pointer;" id="bwp-scroll-two" class="bwp-two"><i class="fa fa-commenting-o comment"></i></a>
    {% endif %}

{% endif %}
    {# chat #}
    <div class="page-content page-container" id="page-content">
      <div class="padding">
        <div class="row container d-flex justify-content-center">
          <div class="col-md-4 d-flex justify-content-center">
            <div class="box box-warning direct-chat direct-chat-warning">
              <div class="box-header with-border">
                  <h3 class="box-title">Chat Messages</h3>
                  <div class="box-tools pull-right"> <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="3 New Messages">20</span> <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button> <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts"> <i class="fa fa-comments"></i></button> <button onClick="removeChat()" type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i> </button> </div>
              </div>
              <div class="box-body">
                <div class="direct-chat-messages">
                  <div class="direct-chat-msg">
                      <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-left">Timona Siera</span> <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                      <div class="direct-chat-text"> For what reason would it be advisable for me to think about business content? </div>
                  </div>
                  <div class="direct-chat-msg right">
                      <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-right">Sarah Bullock</span> <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/office/36/000000/person-female.png" alt="message user image">
                      <div class="direct-chat-text"> Thank you for your believe in our supports </div>
                  </div>
                  <div class="direct-chat-msg">
                      <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-left">Timona Siera</span> <span class="direct-chat-timestamp pull-right">23 Jan 5:37 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                      <div class="direct-chat-text"> For what reason would it be advisable for me to think about business content? </div>
                  </div>
                  <div class="direct-chat-msg right">
                      <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-right">Sarah Bullock</span> <span class="direct-chat-timestamp pull-left">23 Jan 6:10 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/office/36/000000/person-female.png" alt="message user image">
                      <div class="direct-chat-text"> I would love to. </div>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                  <form action="#" method="post">
                      <div class="input-group"> <input type="text" name="message" placeholder="Type Message ..." class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-warning btn-flat">Send</button> </span> </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# endchat #}
   
   {% block body %}{% endblock %}

    <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ asset('assets/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('assets/js/custom-scripts.js') }}"></script>
    

    <script>

    function removeChat(){
      $('#page-content').hide()
      $('#bwp-scroll-two').show()
    }

    $(document).ready(function(){
      $('#bwp-scroll-two').click(function(){
         $('#page-content').show()
         $('#bwp-scroll-two').hide()
      })
    })

    //menu left
    $("#sideNav").click(function(){
      if($(this).hasClass('closed')){
        $('.navbar-side').animate({left: '0px'});
        $(this).removeClass('closed');
        $('#page-wrapper').animate({'margin-left' : '260px'});
      }else{
        $(this).addClass('closed');
        $('.navbar-side').animate({left: '-260px'});
        $('#page-wrapper').animate({'margin-left' : '0px'}); 
      }
    })

    //chart
    $(document).ready(function () {
    $("#sideNav").click(function(){
      if($(this).hasClass('closed')){
        $('.boxChart').hide();
        $("#boxTab").addClass('col-md-12');
      }else{
        $("#boxTab").removeClass('col-md-12');
        $('.boxChart').show();
      }
    });
  });

  $(document).ready(function () {
      $('#dataTables-example').dataTable();
  });

  function admindash(){
    event.preventdefault
    const a = document.createElement('a');
    div.className = 'active-menu';

  }

    </script>
  </body>
</html>
