{% extends 'base.html.twig' %} 

{% block title %}{{ title }}{% endblock %} 

{% block content %}  
<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
          <div class="col-md-4">DEPARTEMENT SPORT</div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <a
              href=""
              class="btn btn-primary"
              style="float: right; font-size: x-small;"
            >
              Ajouter Sport
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="font-size: 10px">
            <thead>
              <tr>
                <th>Id</th>
                <th>SPORT PRATIQUER</th>
                <th>LOISIR PRATIQUER</th>
                <th>FREQUENCES</th>
                <th>NOM SPORT</th>
                <th>NOM LOISIR</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody> 
              {% for sport in sports %}
                <tr>
                    <td>{{sport.id}}</td>
                    <td>{{sport.pratiqueSportounon == 1 ? "OUI" : "NON"}}</td>
                    <td>{{sport.pratiqueLoisirouinon == 1 ? "OUI" : "NON"}}</td>
                    <td>{{sport.frequenceSport}}</td>
                    <td>{{sport.nomSport}}</td>
                    <td>{{sport.nomLoisir == "" ? "NEANT" : sport.nomLoisir}}</td>
                    <td>
                        <a href="#"><i class="fa fa-trash text-danger"></i></a>
                        <a href="#"><i class="fa fa-pencil-square-o text-primary"></i></a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
