{% extends 'base.html.twig' %} 

{% block title %}{{ title }}{% endblock %} 

{% block content %}  
<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
          <div class="col-md-4">DEPARTEMENT SANTE</div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <a
              href="{{path('app_dashboard_create_sante')}}"
              class="btn btn-primary"
              style="float: right; font-size: x-small;"
            >
              Ajouter Sante
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="font-size: 10px">
            <thead>
              <tr>
                <th>Id</th>
                <th>TYPE MALADIE</th>
                <th>CATEGORIE</th>
                <th>MALADIE</th>
                <th>GROUPE SANGUIN</th>
                <th>EVACUATION</th>
                <th>CHIRURGIE</th>
                <th>COUT EVACUATION</th>
                <th>POIDS</th>
                <th>TAILLES</th>
                <th>NOM CHIRURGIE</th>
                <th>COUT CHIRURGIE</th>
                <th>QUESTION MALADIE</th>
                <th>PAYS</th>
                <th>PROVINCE</th>
                <th>REGION</th>
                <th>FOKOTANY</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% for sante in santes %}
                  <tr>
                      <td>{{sante.id}}</td>
                      <td>
                        {% for t in sante.typeMaladie %}
                            {{t}}
                        {% endfor %}
                      </td>
                      <td>
                        {% for c in sante.categorie %}
                            {{c}}
                        {% endfor %}
                      </td>
                      <td>
                        {% for m in sante.maladie %}
                            {{m}}
                        {% endfor %}
                      </td>
                      <td>
                        {% for g in sante.groupeSanguin %}
                            {{g}}
                        {% endfor %}
                      </td>
                      <td>{{sante.evacuerounon  == 1 ? "OUI" : "NON"  }}</td>
                      <td>{{sante.chirurgieounon == 1 ? "OUI" : "NON" }}</td>
                      <td>{{sante.coutEvacuation}}</td>
                      <td>{{sante.poids}}</td>
                      <td>{{sante.taille}}</td>
                      <td>{{sante.nomChirurgie}}</td>
                      <td>{{sante.coutChirurgie}}</td>
                      <td>{{sante.questionMaladie}}</td>
                      <td>
                        {% for p in sante.nomPays %}
                            {{p}}
                        {% endfor %}
                      </td>
                      <td>
                        {% for pr in sante.province %}
                            {{pr}}
                        {% endfor %}
                      </td>
                      <td>
                        {% for r in sante.region %}
                            {{r}}
                        {% endfor %}
                      </td>
                      <td>
                        {% for fkt in sante.fokotany %}
                            {{fkt}}
                        {% endfor %}
                      </td>
                      <td>
                        <a href="{{path('app_dashboard_delete_sante', {'id': sante.id})}}" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash text-danger"></i></a>
                        <a href="{{path('app_dashboard_edit_sante', {'id': sante.id})}}"><i class="fa fa-pencil-square-o text-primary"></i></a>
                      </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      </div>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3>Confirmation de la suppression</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Etes-vous sûr de vouloir supprimer cette ligne?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary" >Confirmer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
